
//////////////////////////////////////////////////
// slightly modified 'dark solarized' theme colors

$background: rgb(0, 43, 54);
$text: rgb(147, 161, 161);
$keyword: rgb(150, 235, 122);
$number-literal: rgb(203, 75, 23);
$string-literal: rgb(42, 161, 152);
$number: rgb(211, 53, 130);
$comment: rgb(101, 123, 131);
$selection: rgb(7, 54, 66);
$annotation: rgb(112, 119, 135);